.image-main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous{
    transform: scale(2);
    cursor: pointer;
}
.next{
    transform: scale(2);
    cursor: pointer;
}
.slider-active {
    color : gray;
}
.slider-inactive {
    color : black
}

.icon-slider {
    font-size: 16px;
    cursor: pointer;
}