.title {
    display: flex;
    justify-content: space-between;
}
.question {
    background-color: antiquewhite;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.answer {
    font-style: italic;
    text-align: justify;
    margin: 2px;
    font-weight: 400;
    cursor:default;
}
.icons {
    font-size: 18px;
}